@model List<LibaryManagment.Models.BookModel>

@{
    ViewData["Title"] = "Books";
}
@if (User.IsInRole("admin") || User.IsInRole("lib"))
{
    <a class="btn btn-primary mt-3 ms-2" href="/Book/Create">Add New Book</a>
}


<table class="table table-bordered mt-3">
    <thead>
    <tr>
        <th>BookId</th> 
        <th>BookName</th>
        <th>Author</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.BookId</td> 
            <td>@item.BookName</td>
            <td>@item.Author</td>
            @if (User.IsInRole("admin") || User.IsInRole("lib"))
            {
                <td>
                    <a class="btn btn-warning btn-sm" href="/Book/Edit/@item.BookId">Edit</a>
                    <a class="btn btn-danger btn-sm" href="/Book/Delete/@item.BookName" onclick="return confirm('Are you sure?')">Delete</a>
                </td>
            }
            
        </tr>
    }
    </tbody>
</table>